button
 {
   margin-top: 0.2cm;
   margin-left: 1cm;
   margin-bottom: 0.2cm;
   background-color:whitesmoke;

 }

 .title
 {
    font-size: 0.6cm;
 }
 .resetPageCard
 {
     margin-top: 6cm;
     margin-left:12cm; 
     align-self: stretch;
     width: 9cm;
     background-color: lightslategray;
 }