<div style="overflow:hidden">
<mat-toolbar class = "mat-toobar">
  <mat-toolbar-row>
      <button mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <img mat-img class="logo" src="https://www.google.com/images/icons/product/keep-512.png">
    <span>Fundoo Notes</span>

    
    <mat-card class="searchInput" routerLink="search" style="margin-left:90px"fxLayoutAlign="center center" routerLinkActive="active">
          <button mat-icon-button class="searchButton"><mat-icon>search</mat-icon></button>
          <input mat-input class="searchInputBox" placeholder="Search....">
    </mat-card>
    
    <button mat-icon-button><mat-icon>refresh</mat-icon></button>
    <button mat-icon-button (click)="changeView(show)"><mat-icon *ngIf="show">view_stream</mat-icon><mat-icon *ngIf="!show">view_module</mat-icon></button>
    <button mat-icon-button><mat-icon>settings</mat-icon></button>
  <div class="systemIcon" fxLayoutAlign="right center">
   
    <button mat-icon-button style="margin-left: 20px"><mat-icon>notifications</mat-icon></button>

    <button mat-icon-button class="profileButton" [matMenuTriggerFor]="profileMenu" >{{userName[0]}}</button>

    <mat-menu #profileMenu="matMenu" class="custom" >
      <div  fxLayout="row" style="overflow: hidden;width:100%" matMenuItem>        
        <div>
          <button mat-icon-button (click)="openImageDialog()" class="profileButton" style="zoom:2;margin:5px" >{{userName[0]}}</button>
        </div>
        <div fxLayout="column" fxLayoutAlign="left left" style="padding-right: 20px">
          <span class="usernameStyle">{{userName}}</span>
          <span class="emailStyle">{{email}}</span>
          <button mat-button (click)="logout()" style="background-color: royalblue; margin-top: 25px">Log Out</button>
        </div>
    </div>
    </mat-menu>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

<div class="flexContainer" style="overflow-y: scroll; margin-right: -17px; box-sizing: unset;">
<mat-drawer-container class="sideMenu" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side" style="border:0px" disableClose>
    <div fxLayout=column>
      <button mat-raised-button class="menuButton" routerLink="notes">
        <mat-icon style="margin-right:40px;margin-left:20px">
          lightbulb_outline
        </mat-icon>
         Notes
      </button>
      
      <button mat-raised-button class="menuButton">
        <mat-icon style="margin-right:40px;margin-left:20px">
          add_alert
        </mat-icon>
        Reminders
      </button>

      <mat-divider style="margin: 7px"></mat-divider>

      <span style="font-size: 12px;font-family:'Calibri'; margin-left: 20px">
        LABELS
      </span>
      <div *ngIf="labels ? labels.length>0: false">
        <div *ngFor="let label of labels">
          <button mat-raised-button class="menuButton" routerLink="labels/{{label.labelValue}}" routerLinkActive="active">
            <mat-icon style="margin-right:40px;margin-left:20px">
              label
            </mat-icon>
            {{label.labelValue}}
          </button>
        </div>
      </div>
      <button mat-raised-button class="menuButton" (click)="openLabelDialog()">
        <mat-icon style="margin-right:40px;margin-left:20px">
          create
        </mat-icon>
        Edit Labels
      </button>

      <mat-divider style="margin: 7px"></mat-divider>
      
      <button mat-raised-button class="menuButton" routerLink="archive">
        <mat-icon style="margin-right:40px;margin-left:20px">
          archive
        </mat-icon>
        Archive
      </button>
      <button mat-raised-button class="menuButton" routerLink="bin">
        <mat-icon style="margin-right:40px;margin-left:20px">
          delete
        </mat-icon>
        Bin
      </button>
    </div>
  </mat-drawer>
  
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
</div>
</div>