<div *ngIf="myNote.note.title !==''">
  <div class="noteGrid" fxLayout="column"> 
    <mat-card fxFlex style="margin-top: 30px;width: 250px; border-radius: 15px" [style.background-color]="myNote.note.color">
      <mat-card-header >
        <mat-card-title (click)="openCreateDialog(myNote.note)">
          <span style="font-size: 17px; width: 100%; font-family: sans-serif;">
            {{myNote.note.title}}
          </span>
        </mat-card-title>
        
        <span style="position: absolute; right: 0;" class="buttons" >
          <button mat-icon-button (click)="pinIt(myNote.note)">
            <mat-icon *ngIf="!myNote.note.pin">
              <img style="width:10px; height:16px"src="http://cdn.onlinewebfonts.com/svg/img_226200.png">
            </mat-icon>
            <mat-icon *ngIf="myNote.note.pin">
              <img style="width:10px; height:16px"src="https://ya-webdesign.com/images/thumbtack-icon-png-14.png">
            </mat-icon>
          </button>
        </span>
      </mat-card-header>
          
    <mat-card-content fxLayout="column" style="margin-bottom: 40px" >
      <div (click)="openCreateDialog(myNote.note)">
        <span>
          {{myNote.note.description}}
        </span>
      </div>
      
      <div fxLayout="row wrap">
        <mat-chip-list #chipList>
          <div  *ngFor="let label of myNote.note.labels">
            <mat-chip class="noteLabels" routerLink="../labels/{{label.labelValue}}">{{label.labelValue}}
              <button mat-icon-button class="cancleIcon">
                <mat-icon matChipRemove (click)="removeLabel(label.labelId, myNote.note.noteId)" style="margin-top: -18px; margin-left: -3px" >close</mat-icon>
              </button>
            </mat-chip>
          </div>
        </mat-chip-list>
        <div *ngFor="let userInfo of myNote.collabUserInfos" >
          <button mat-icon-button class="icon" matTooltip="{{userInfo.userName}}<{{userInfo.emailId}}>">
            <mat-icon>
                person_outline
            </mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
      <div class="buttons" style="position: absolute; margin-top:-30px">
      <mat-card-footer style="margin-bottom:10px">        
        <button mat-icon-button>
          <mat-icon>add_alert</mat-icon>
        </button>
        
        <button mat-icon-button (click)="openCollabDialog(myNote)">
          <mat-icon>person_add</mat-icon>
        </button>
        
        <button mat-icon-button [matMenuTriggerFor]="colorMenu"><mat-icon>palette</mat-icon></button>
          <mat-menu #colorMenu="matMenu">
            <div *ngFor="let colors of colorsPallete">
              <span *ngFor="let item of colors">
                <button mat-icon-button  [style.background-color]="item" class="colorPalleteButton" (click)= "changeColor2(item, myNote.note)">
                  <mat-icon ></mat-icon>
                </button>
              </span>
            </div>
          </mat-menu>
              
        <button mat-icon-button>
          <mat-icon>add_photo_alternate</mat-icon>
        </button>
        
        <span *ngIf="!myNote.note.archive">
          <button mat-icon-button  (click)="archiveNote(myNote.note)">
            <mat-icon >archive</mat-icon>
          </button>
        </span>
        
        <span *ngIf="myNote.note.archive">
          <button mat-icon-button (click)="unArchiveNote(myNote.note)">
            <mat-icon >unarchive</mat-icon>
          </button>
        </span>
        
        <button mat-icon-button [matMenuTriggerFor]="cardMenu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #cardMenu="matMenu" (click)="stopPropagation($event);">
            <button mat-menu-item (click)="trashNote(myNote.note)">
              Delete Note
            </button>
            <button mat-menu-item [matMenuTriggerFor]="labelMenu" >
              Add Label
            </button>
              <mat-menu #labelMenu="matMenu" fxLayout="column"  (click)="$event.stopPropagation();">
                <span style="font-family: sans-serif; font-size: 15px; margin-left: 10px">
                  Label note
                </span>
                <div fxLayout="row">
                  <input matInput (change)="changeShow()" (input)="onSearchChange($event.target.value)" (click)="stopPropagation($event)" placeholder="Enter label name"style="font-family: sans-serif; font-size: 12px; margin-bottom:10px;margin-left: 10px">
                  <mat-icon style="zoom:0.7; color: grey; margin-right:10px ">
                    search
                  </mat-icon>
                </div>
                  <div style="margin-bottom: 25px; margin-left: 10px" >
                    <div *ngFor="let label of labels" >
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="addLabelToNote($event, label.labelId, myNote.note.noteId)"  style="font-family: sans-serif; color: black; zoom:0.8">{{label.labelValue}}</mat-checkbox>
                    </div>
                  </div>
                  <div *ngIf="show===true">
                    <button mat-menu-item style="zoom:0.8; position: absolute; bottom: 0;" (click)="createNewLabel($event, myNote.note.noteId, searchLabelValue)">
                      <mat-icon>add</mat-icon>
                      Create label {{searchLabelValue}}
                    </button>
                  </div>
                </mat-menu>
                
                <button mat-menu-item>Make a copy</button>
              </mat-menu>
        </mat-card-footer>
      </div>
    </mat-card>
  </div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">