
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center stretch">
  <mat-card class="forgetPageCard" > 
    <mat-card-header fxLayoutAlign="center stretch">
      <mat-card-title class="title">Account Recovery</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center center">
      <mat-form-field >
        <input matInput placeholder="Enter User Name" [value]="userName" [(ngModel)]= "userName">
      </mat-form-field>
      <button mat-raised-button (click)="onForgetPassword()">Next</button>
    </mat-card-content>
  </mat-card>
</div>
